/* .tableTitle {

} */

table {
max-width: 1200px;
min-width: 400px;
} 

table, td {
  border: 1px solid gray;
  text-align:left;
}

td{
  vertical-align: bottom;
  }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-y: scroll;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-bottom: 15px;
}

.centerIcon{
  font-size: small;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100px;
  height: 20px;
}

.list-group{
  margin: 2px;
  margin-bottom: 15px;
}

form{
  margin: 2px;
  display: inline-block;
}
